.App {

}

ul {
    overflow: hidden;
    list-style: none;
}

ul li {
    float: left;
    width:230px;
    margin-right: 5%;
}

p {
    font-size:18px;
    height:32px;
    margin: 5px 0 30px;
}

img {
    vertical-align: top;
}